<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,759},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>step0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,767},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>step0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,759},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>step0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,759},{152,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,37}}</string>
                <key>sourceSize</key>
                <string>{152,37}</string>
            </dict>
            <key>start0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,721},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{6,6},{159,45}}</string>
                <key>sourceSize</key>
                <string>{175,61}</string>
            </dict>
            <key>step0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,721},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>start0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,721},{167,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,2},{167,53}}</string>
                <key>sourceSize</key>
                <string>{175,61}</string>
            </dict>
            <key>step0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,721},{212,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,37}}</string>
                <key>sourceSize</key>
                <string>{212,37}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{320,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,8},{320,77}}</string>
                <key>sourceSize</key>
                <string>{320,85}</string>
            </dict>
            <key>bg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{99,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,720}}</string>
                <key>sourceSize</key>
                <string>{102,720}</string>
            </dict>
            <key>bg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{480,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{480,720}}</string>
                <key>sourceSize</key>
                <string>{480,720}</string>
            </dict>
            <key>bg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{480,720}}</string>
                <key>sourceSize</key>
                <string>{480,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1061,804}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
