<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{5,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,18}}</string>
                <key>sourceSize</key>
                <string>{5,18}</string>
            </dict>
            <key>soundBtn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,64},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>soundBtn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,64},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>continueBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,950},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>restartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,940},{127,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{1,1},{127,24}}</string>
                <key>sourceSize</key>
                <string>{132,30}</string>
            </dict>
            <key>combox.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,940},{138,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{1,1},{138,24}}</string>
                <key>sourceSize</key>
                <string>{142,29}</string>
            </dict>
            <key>pausePanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,721},{276,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{276,218}}</string>
                <key>sourceSize</key>
                <string>{276,218}</string>
            </dict>
            <key>endPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{276,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{276,228}}</string>
                <key>sourceSize</key>
                <string>{276,228}</string>
            </dict>
            <key>StartPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{480,720}}</string>
                <key>sourceSize</key>
                <string>{480,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>panelUI.png</string>
            <key>size</key>
            <string>{559,985}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>panelUI.png</string>
        </dict>
    </dict>
</plist>
