<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigJump0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,148},{87,174}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{87,174}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,148},{87,174}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{87,174}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,237},{89,172}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,172}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,237},{89,172}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,172}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,180}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,180}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,180}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,180}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,328},{85,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{85,172}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>bigJump0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,328},{85,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{85,172}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>brakeLeft0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,406},{85,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>brakeLeft0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,584},{85,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>brakeLeft0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,762},{85,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>brakeLeft0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,762},{85,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>brakeRight0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,584},{85,144}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>brakeRight0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,671},{85,144}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>brakeRight0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,758},{85,144}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>brakeRight0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,908},{85,144}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,148},{123,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,144}}</string>
                <key>sourceSize</key>
                <string>{123,144}</string>
            </dict>
            <key>general0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,148},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,110},{81,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,904},{83,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,758},{85,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,703},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,835},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,415},{89,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,792},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,398},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,402},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,440},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,440},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,440},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,440},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,402},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,493},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,671},{89,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,506},{89,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,792},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,835},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,317},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,671},{85,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,758},{85,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,904},{83,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,256},{81,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,294},{81,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,938},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,938},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,938},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,938},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>general0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,938},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>left0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,597},{104,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,143}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,597},{104,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,143}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,437},{106,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,141}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,437},{106,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,141}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{106,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{106,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,432},{106,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,432},{106,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,727},{106,141}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{106,141}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,727},{106,141}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{106,141}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,579},{106,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,579},{106,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,145}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>middleJump0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{97,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,166}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{97,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,166}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{99,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,170}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{99,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,170}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{97,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,166}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{97,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,166}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{99,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,168}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{99,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,168}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{97,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,170}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{97,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,170}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{99,160}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,160}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>middleJump0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{99,160}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,160}}</string>
                <key>sourceSize</key>
                <string>{99,170}</string>
            </dict>
            <key>right0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,110},{105,143}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,143}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,110},{105,143}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,143}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,294},{107,141}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,141}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,294},{107,141}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,141}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,580},{105,145}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,580},{105,145}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,103},{105,145}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,103},{105,145}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,255},{105,141}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{105,141}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,255},{105,141}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{105,141}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,210},{105,145}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>right0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,210},{105,145}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{105,145}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>smallJump0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,546},{80,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{80,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,835},{106,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{106,140}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,294},{124,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{124,136}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,148},{124,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>smallJump0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>superMen1.png</string>
            <key>size</key>
            <string>{946,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bbd008fd792346781370c792b6a0f49:cbbd70e782778934499c923ae0f038ff:e18ef9f390ada81dadcfff7a8d3007fb$</string>
            <key>textureFileName</key>
            <string>superMen1.png</string>
        </dict>
    </dict>
</plist>
